.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  text-align: center;
}

.app-header {
  background-color: white;
}

.movie-card {
  width: 250px;        
  margin: 0 auto;  /* Центрування всередині колонки */
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 350px;        /* Фіксована висота для всіх постерів */
  object-fit: cover;    /* Щоб фото не сплющувалось */
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.custom-booking-btn {
  width: 200px;
  height: 40px;
  padding: 8px;   
  font-size: 0.8rem; 
  line-height: 1.8;    /* Контролює висоту рядка тексту */
}